.conteiner {
    width: 520px;
    border-radius: 20px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
}

.base {
    width: 100%;
    border-radius: 20px;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
}

.block {
    width: 135 px;
    padding:5px 20px;
    margin-left: 20px;
    display: inline-block;
    float: left;
}
    
